<div class="container">
  <div class="row">
    <div class="col align-self-start">
    </div>
    <div class="col align-self-center topMargin">
        <div class="top">
            <div class="logo">
              <img src="https://dxstmhyqfqr1o.cloudfront.net/web-basic/icon-username-landing.svg" width="72" height="72" class="logo-image">
            </div>
            <div class="title">
              <div class="title-company">
                ChatApp
              </div>
            </div>
          </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="input-group mb-3 flexCol" >
        <div class="flexRow ">
          <span class="input-group-text " id="basic-addon1"><img src="https://dxstmhyqfqr1o.cloudfront.net/web-basic/icon-username-landing.svg" width="13" height="13" class="logo-image"></span>
        <input type="text" ngModel required class="form-control" name= "user_id" #user_id ="ngModel" placeholder="Enter User ID" aria-label="Username" aria-describedby="basic-addon1">
       </div>
        <div class ="error" *ngIf="user_id.errors?.required && user_id.dirty">User ID is required</div>
      </div>    
      <div class="input-group mb-3 flexCol">
        <div class="flexRow ">
          <span class="input-group-text" id="basic-addon1"><img src="https://dxstmhyqfqr1o.cloudfront.net/web-basic/icon-username-landing.svg" width="13" height="13" class="logo-image"></span>
        <input type="text" ngModel required class="form-control" name="nickname" #nickname = "ngModel" placeholder="Enter User Nickname" aria-label="Username" aria-describedby="basic-addon1">
      </div>
        <div class ="error" *ngIf="nickname.errors?.required && nickname.dirty">Nickname is required</div>
      </div> 
      <button [disabled]="f.invalid"  type="submit"   class="btn btn-secondary btn-lg btn-block">LOGIN</button>
    </form>
    
    </div>
    <div class="col align-self-end">
    </div>
  </div>
</div>